body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hr-spacing-10 {
  margin-bottom: 10px;
}

#grid {
  border: 2px solid rgba(0, 0, 0, 1);
  display: inline-block;
}

.grid-row {
  clear: both;
}

.grid-letter {
  float: left;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid white;
}

.unselected-letter:hover {
  cursor: pointer;
  /*background-color: rgba(37, 143, 55, 0.5);*/
  border: 2px solid rgba(37, 143, 55, 0.5);
  /*color: rgba(255, 255, 255, .8);*/
}

.selected-letter {

  background-color: rgba(37, 143, 55, 0.5);
  color: rgba(255, 255, 255, .8);
}

#score-board {
  font-weight: bold;
  text-align: center;
  font-size: 1.6em;
}

#score {
  background-color: rgba(37, 143, 55, 0.5);
  color: rgba(255, 255, 255, .8);
}

#timer {
  background-color: rgba(37, 143, 55, 0.3);
  color: rgba(255, 255, 255, .8);
}

